<template>
    <div>
        <form v-on:submit.prevent="addTodo" class="add-todo-form">
            <input type="text" v-model="title" name="title" placeholder="Add Todo">
            <input type="submit" value="Submit" class="btn"/>
        </form>
    </div>
</template>

<script>

    export default {
      name: "AddTodo",
      data(){
        return{
          title: ''
        }
      },
      methods: {
        addTodo(e){
          e.preventDefault();
          console.log("add todo called")
          const newTodo = {
            title: this.title,
            completed: false,
          }
          //send up by using emit to parent
          this.$emit('add-todo', newTodo)
          this.title = '';}
      }
    }
</script>

<style>
    form{
        display: flex;
        margin: 1em;
    }
    input[type="text"]{
        flex: 6;
        padding: 5px;
        margin: 1em;
        border-radius: 2px;
        border: 1px solid rgba(51,51,51, 0.1);
    }
    input[type="submit"]{
        flex: 2;
        margin: 1em;
        border-radius: 2px;
        background-color: dimgray;
        border: 1px solid rgba(51,51,51, 0.1);
        color: white;
    }
    input[type="submit"]:hover{
        background-color: rgba(80,0, 220, 0.6);
        color: white;
    }
</style>