<template>
  <div>
      <AddTodo v-on:add-todo="addTodo"/>
      <div v-if="isFetched">
          <div v-for="todo in todos"  v-bind:key="todo.id" class="todo-content" v-on:del-todo="deletedTodo">
              <TodoItem v-bind:todo="todo" v-on:del-todo="deletedTodo" />
          </div>
      </div>
      <div v-else class="spin">
          <img src="../views/6.gif"/>
          <span>Loading ..... </span>
      </div>
  </div>
</template>
<script>
    import TodoItem from "./TodoItem";
    import axios from 'axios';
    import AddTodo from "./AddTodo";

    export default {
      name: "Todos",
      components: {
        TodoItem,
        AddTodo,
      },
      data() {
        return{
          todos: [],
          isFetched: false,
        }},
      methods: {
        deletedTodo(id){
          console.log("deleted todo called")
          axios.delete(`https://jsonplaceholder.typicode.com/todos/${id}`)
            .then(res => {
              console.log("response", res);
              this.todos = this.todos.filter(todo => todo.id !== id)})
            .catch(err => console.log("error in DeleteTodo", err));
        },
        addTodo(newTodo){
          const { title , completed } = newTodo;
          axios.post("https://jsonplaceholder.typicode.com/todos", {title, completed})
            .then(res => this.todos = [...this.todos, res.data])
            .catch(err => console.log("error in add Todo", err))

        }
      },
      created(){
        console.log("show item", this.todos)
        axios.get("https://jsonplaceholder.typicode.com/todos?_limit=10")
          .then(res => {
            this.isFetched = true;
            this.todos = res.data
          })
          .catch(err => {
            console.log("error while calling API", err)
            this.isFetched = false;
          })
      }
    }
</script>

<style scoped>
      .todo-content{
          color: black;
          padding: 10px;
      }
    .spin{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .spin img{
        flex: 6;
    }
    .spin span{
        flex: 6;
        padding: 20px;
        font-size: 19px;
        font-weight: 800;
        margin-left: 15px;
    }
</style>