 <template>
     <div class="todo-item" v-bind:class="{'is-complete': todo.completed}">
         <p class="todo-container">
             <input type="checkbox" v-on:change="markComplete" class="checkbox"/>
             <span class="title">{{todo.title}}</span>
             <button @click="$emit('del-todo', todo.id)" class="btn-del">
                 <img class="del" src="../views/delete.png"/>
             </button>
         </p>
     </div>
 </template>

 <script>
     export default {
       name: "TodoItem",
       props: ["todo"],
       methods: {
         markComplete(){
           this.todo.completed = !this.todo.completed;
           console.log(this.todo.completed)
         }
       }
     }
 </script>


 <style scoped>
     .todo-item{
         background: #f4f4f4;
         padding: 10px;
         border-bottom: 1px #ccc dotted;

     }
     .todo-container{
         display: flex;

     }
     .is-complete{
         text-decoration: line-through;
     }
     .title{
         flex: 10;
         text-align: left;
     }
     .checkbox{
         flex: 1;
     }
     .btn-del{
         border-style: none !important;
     }
     .del{
         cursor: pointer;
         flex:1;
         width: 30px;
         height: 30px;
         padding: 5px;
     }
 </style>