
<template>
  <div id="app">
    <Header/>
    <router-view/>
  </div>
</template>

<script>

  import Header from "./layout/Header";
  export default {
    name: 'App',
    components: {
      Header,
    },
  }
</script>

<style>
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
  }
  body{
    font-family: Arial, Helvetica, sans-serif;
  ;line-height: 1.4
  ;
  }
  .btn:hover{
    background: aqua;
  }
</style>
