<template>
    <header class="header">
        <h1>TodoList </h1>
        <div id="nav">
            <router-link to="/">Home</router-link> |
            <router-link to="/todos">Todos</router-link>
        </div>
    </header>
</template>

<Script>

 export default {
   name: "Header"
 }

</Script>
<style scoped>
  .header{
      background: #333;
      color: #fff;
      padding: 10px;
      display: flex;
      align-items: flex-end;
  }

.header a{
  color: #fff;
  padding-right: 5px;
}
  #nav {
      padding: 30px;
      flex: 10;
      text-align: right;
  }

  #nav a {
      font-weight: bold;
      color: rgba(251,251,251, 0.5);
  }

  #nav a.router-link-exact-active {
      color: #5ab0fa;
  }
</style>